<div class="row">
  <div class="col-md-5">
    <h2>Entries</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let entry of entries"
        (click)="selectEntry(entry)"
        [class.active]="entry === selectedEntry">
        {{entry.timestamp | date: 'dd/MM/yyyy HH:MM:ss'}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewEntry()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <entry-details
      [entry]="selectedEntry"
      [createHandler]="addEntry">
    </entry-details>
  </div>
</div>
