<div class="row">
  <div class="col-md-12">
    <h2>Status</h2>
    Connected
  </div>
</div>
<div *ngIf="entry" class="row">
  <div class="col-md-12">
    <div id="gauge_chart" [chartData]="chartData" [chartOptions]= "chartOptions" chartType="Gauge" GoogleChart></div>
    <!-- <div class="form-group">
      <label for="entry-roof">Roof</label>
      <input class="form-control" name="entry-roof" [(ngModel)]="entry.status.roof" placeholder=50/>
    </div>
    <div class="form-group">
      <label for="entry-tank">Tank</label>
      <input class="form-control" name="entry-tank" [(ngModel)]="entry.status.tank" placeholder=50/>
    </div>
    <div class="form-group">
      <label for="entry-inlet">Inlet</label>
      <input class="form-control" name="entry-inlet" [(ngModel)]="entry.status.inlet" placeholder=50/>
    </div> -->
  </div>
</div>
